<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <code>
        <?php

        /*
        * Hüseyin Aydın's Resume v1.0 *
        * I'm a full stack developer i loves Java, C#, Python and Angular... *
        * Learning something new is my passion. * * link https://www.facebook.com/beyaz.sapkali.5/,huseyinaydin99@gmail.com,https://github.com/huseyinaydin99*
        */

        DEFINE("Who am I?", "I am Huseyin Aydin.");

        // Education Experience
        $education1 = array(
        "name" => "Udemy", "link" => "https://www.udemy.com/", "info" => array(
        "date" => array("June 2012", "April 2020"),
        " education_received" => "Full Stack Developer",
        "techs" => array("Java", "C#", "Spring Framework", "Hibernate", "RESTful", "Database")
        );

        // Education Experience 2
        $education2 = array(
        "name" => "BTK ", "link" => "https://www.btkakademi.gov.tr/portal/", "info" => array(
        "date" => array("May 2020", "September 2020"),
        "education_received" => "Full Stack Developer",
        "techs" => array("Java", "Angular 10", "MySQL", "Oracle")
        );

        //Skills
        $skills = array("Java", "C#", "Python", "Scala", "Java FX", "C", "C++", "Cygwin Compiler", "Javascript",
        "Node.JS", "Angular", "Linux", "Soap Web Services", "Swing GUI", "Spring Framework", "Spring Seurity",
        "CSS", "XHTML", "CSS3", "Bootstrap 5", "Swagger", "Lombok", "Spring Microservices", "ORM",
        "Hibernate", "Entity Framework", "HTML5", "JSON", "XML", "Maven", "Gradle");
        $me = array_merge($education1, $education2, $skills);
        $company = YourCompany();
        $company -> hire($me);

        ?>
    </code>
</body>
</html>