
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<section class="w3l-aboutblock1" id="about">
        <div class="container">
            <div class="row">
                <div>
                    <div class="position-relative">
                        <img src="~/Templates/sidebar-01/assets/images/myphoto1.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5">
                    <h5 class="title-small mb-2">Hello I'm Extreme Programmer</h5>
                    <h3 class="title-big">Having 20 Years of Experience</h3>
                    <p class="mt-4">
                        Hi 👋, I'm Hüseyin Aydın.
                        I'm a software developer who mostly works with the Java language. I follow other technologies as well.
                        I was born and raised in Türkiye / Niğde. I live in Türkiye / Niğde. I am an Anatolian child. Yes I know, I am an all-rounder!
                    </p>
                    <div class="my-info mt-4">
                        <div class="single-info">
                            <span>Name:</span>
                            <p>Hüseyin Aydın</p>
                        </div>
                        <div class="single-info">
                            <span>Birthdate:</span>
                            <p>11/09/1994</p>
                        </div>
                        <div class="single-info">
                            <span>From:</span>
                            <p>Türkiye, Niğde | Note: Bize heryer Niğde. (-:</p>
                        </div>
                        <div class="single-info">
                            <span>Email:</span>
                            <p><a href="mailto:huseyinaydin99@gmail.com">huseyinaydin99@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="my-social mt-lg-5 mt-4">
                        <a href="/Portfolio/Download" class="btn btn-style btn-primary">Download CV</a>
                        <br />

                        <a href="https://www.facebook.com/beyaz.sapkali.5"><span class="fa fa-facebook-official"></span></a> &nbsp;
                        <a href="https://www.linkedin.com/in/huseyin99"><span class="fa fa-linkedin-square"></span></a> &nbsp;
                        <a href="https://www.instagram.com/huseyin.aydin.99"><span class="fa fa-instagram"></span></a> &nbsp;

                    </div>
                </div>
            </div>
        </div>
</section>

